:root{
--grey:grey;
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: Verdana;
  background-color: var(--grey);
}

.center{
  display: flex;
  flex-wrap: wrap;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2%;
}

html,body{
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

header{
  height: 200px;
  padding:20px 0;
}

.logo{
  width: 50%;
}
.imagem1 {
  max-width: 30%;
  max-height: 70%;
  border-radius: 50%;
 }

 .imagem2 {
  max-width: 90%;
  max-height: 180%;
 }


.menu{
  width: 50%;
  padding-top: 30px;
  text-align: right;
}

.menu a{
  color: black;
  text-decoration: none;
  font-weight: bold;
  margin-right: 15px;
}

section.sobre{
  height: calc(100% - 200px);
  position: relative;
}

.extras{
  position: absolute;
  bottom:-500px;
  right: -400px;
  width: 1200px;
  height: 1200px;
  border-radius: 40%;
}


.texto-sobre{
  margin-top: 100px;
}

.texto-sobre h1{
  font-size: 50px;
}

.texto-sobre p{
  margin:20px 0;
  color: black;
  font-size: 14px;
  font-weight: bold;
  max-width: 800px;
}