.titulo{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

.grid{
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px; 
}

.item{
  background: #f7f7f7;
  border: 1px solid grey;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 4px;
  font-family: arial;
}

.imagem{
  width: 50%;
  border: 1px solid grey;
  border-radius: 50%;
  background: white;
  margin-left: 50px;
}

.descricao{
  width: 100%;
}

a{
  text-decoration: none;
  background: #BB90C0;
  padding: 4px;
  border-radius: 4px;
  border: 1px solid #341A37;
}