.footer{
    background: #000000;
}

.footer-container{
    max-width: 1200px;
    padding: 120px 20px 60px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    align-items: center;
}

.footer-texto{
    font-size: 1.5rem;
    line-height: 1.33;
    color: #cccccc;
   
}

.footer-contato li{
    font-weight: bold;
    font-size:  1.5rem;
    line-height: 1.1;
    color: #ffffff;
    margin-bottom: 30px;
    padding-left: 2.2rem;
    position: relative;
}

.footer-contato li a {
    color: #ffffff;
}

@media (max-width: 900px) {
    .footer-container{
        grid-template-columns: 1fr;
        gap: 40px;
    }
    .footer-contato li{
        font-size: 1.5rem;
    }
}

@media (max-width: 600px) {
    .footer-contato li{
        font-size: 0.875rem;
    }
}

.footer-contato{
    display: inline-block;
}

.icones{
    position: absolute;
    top: 0.15rem;
    left: 0;
    width: 1.75rem;
    height: 1.75rem;
    text-align: center;
  }